#update_self_profile {
    @img_size: 96px;
    @input_height: 28px;
    .item {
        .base_item;
        .title {
            font-weight: bold;
            vertical-align: middle;
            display: inline-block;
            height: @input_height;
            line-height: @input_height;
        }
    }
    .do_update_box {
        text-align: center;
    }
    .do_update {

    }
    .looks {
        border-bottom: none;
    }
    //用户的描述标签
    .label {
        input {
            display: none;
        }
        padding: 4px 8px;
        color: #333;
    }
    .label_active {
        color: #fff;
        background: #2f232e;
    }
    //使用函数来处理不同的手机分辨率
    .user_album {
        @padding: 4px;
        width: 100%;
        display: inline-block;
        height: auto;
        min-height: @img_size + (@padding * 2);
        background: #eee;
        border-bottom: 1px solid #999;
        padding: @padding;
        .user_picture_box {
            text-align: center;
            margin: 8px;
            float: left;
            width: @img_size + 2px;
            height: @img_size + 2px;
            border: 1px solid #999;
        }
        .user_picture {
            display: inline-block;
            max-width:  @img_size;
            max-height: @img_size;
        }
        .add_picture { 
            .user_picture_box;
            border: 1px solid #999;
            background: #efefef;
            .text {
                @font-size: 14px;
                display: inline-block;
                top: -(@font-size / 2);
                position: relative;
                margin-top: 50%;
                font-size: @font-size;
                line-height: @font-size;
            }
        }
        .user_upload_picture_input {
            z-index: -99999;
            display: block;
            position: absolute;
            top: 0;
            left: -9999px; 
        }
    }
    .info {
        float: right;
        height: @input_height;
        line-height: @input_height;
    }
    input {
        height: @input_height;
        padding: 0 4px;
        border-radius: 0;
        border: none;
        margin: 0;
        background: #fff;
        font-size: 18px;
        border: 0;
        color: #069;
        width: 80%;
        background: #ddd;
        float: right;
        vertical-align: middle;
    }
}

