#chat_list {
    @image_size: 64px;
    .items {
        padding-top: 16px;
    }
    .item {
        display: inline-block;
        min-height: @image_size;
        margin-bottom: 8px;
        width: 100%;
    }
    .obj {
        @float: left;
        .chat_content {
            float: @float;
            background: #eee;
            border: 1px solid #ccc;
        }
        .gravatar {
            float: @float;
        }
    }
    .subj {
        @float: right;
        .chat_content {
            float: @float;
            background: #eee;
            border: 1px solid #ccc;
        }
        .gravatar {
            float: @float;
        }
    }
    .chat_content {
        max-width: 200px;
        display: inline-block;
        margin: 0 8px;
        padding: 8px;
        color: #000;
        word-break: break-all;
        border-radius: 10px;
    }
    .gravatar {
        border-radius: 4px;
        border: 1px solid #ccc;
        display: inline-block;
        width: @image_size;
        height: @image_size;
    }
}
#input_area_box {
    @height: 48px;
    float: left;
    position: absolute;
    height: @height;
    margin-top: -(@height/2);
    top: 50%;
    .input_area {
        height: @height;
    }
    .chat_input {
        float: left;
        height: @height;
        font-size: @height/3;
        color: #999;
        border: 1px solid #ddd;
    }
    .func_btn {
        background: #096;
        float: left;
        display: inline-block;
        height: @height;
        width: @height;
    }
    .send_gift {
        .func_btn;
    }
    .submit {
        .func_btn;
    }
}

