//用户登录页面
#login {
    margin-top: 64px;
    text-align: center;
    display: none;
    .title {
        color: #333;
    }
    input {
        clear: both;
        display: inline-block;
        border: 1px solid #ccc;
        height: 48px;
        line-height: normal;
        font-size: 24px;
        padding: 4px;
    }
    .do_login {
        padding: 12px 24px;
        font-size: 18px;
    }
}

