#search {
    .item {
        .base_item;
    }
    .do_search_box {
        text-align: center;
    } 
    .select_box {
        .btn;
        padding: 8px;
        font-size: 18px;
        margin-right: 18px;
    }
    .select_box_action {
        .select_box;
        background: #a7639e;
    }
}

