//用户信息列表
.stream {
    @image_size: 64px;
    @item_margin: 4px;
    padding: 0;
    margin: 0;
    .items {
        width: 100%;
        display: inline-block;
    }
    .item {
        float: left;
        clear: both;
        padding: 0 2px;
        width: 100%;
        padding-top: @item_margin;
        min-height: @image_size + @item_margin;
        border-bottom: 1px solid #ddd;
        background: #f9f8f1;
        &:active {
            background: #e4e5dd;
        }
    }
   // .item:nth-child(odd) {
   //     background: #e4e5dd;
   // }
   // .item:nth-child(even) {
   //     background: #eeefe6;
   // }
    .gravatar {
        float: left;
        border-radius: 4px;
        width: @image_size;
        height: @image_size;
    }
    .info {
        float: left;
        padding: 0 8px;
    }
    //info 中每一条单独的信息
    .sub_item {
        display: inline-block;
        clear: both;
        float: left;
        color: #666;
    }
    .nickname {
        font-weight: bolder;
        font-size: 110%;
        color: #333;
        margin-bottom: 8px;
    }
    .detail {
        margin-bottom: 4px;
    }
    .sex {
        
    }
    .func {
        width: 100%;
        float: right;
        height: 100%;
        .btn {
            background: #e5e3d3;
            float: right;
            display: inline-block;
            font-size: 90%;
            display: block;
            padding: 5px;
            margin-left: 5px;
            color: #a5a08a;
        }
    }
    .stream_show_more {
        @font-size: 14px;
        @padding: @font-size / 2;
        margin: @padding;
        padding: @padding 0;
        background: #f7f6ed;
        color: #696969;
        border-radius: 6px;
        border: 1px solid #c9c9c9;
        line-height: @font-size * 2;
        text-align: center;
        font-size: @font-size;
        font-weight: bolder;
        &:active {
            background: #d7d3c4;
        }
    }
}

