#tweet{
    .tweet_input {
        display: block;
        margin: 0 auto;
        margin-top: 64px;
        border: 1px solid #ddd;
        height: 128px;
        min-width: 256px;
        font-size: 18px;
        text-align: left;
    }
}
